* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: #f6f6f6;
    height:100%;
}
#admin {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1180px;
    min-width: 0;
    height: 100%;
}

.add {
    border: 2px solid #212529;
}
