.action {
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.dropdown {
    margin: -5px 5px;
    &__inner {
        font-size: 14px;
        line-height: 16px;
    }
    &__value {
        margin: 0;
        border: none;
        outline: none;
        outline-offset: 2px;
        background: transparent;
        display: block;
        width: 100%;
        padding: 8px 12px;
        color: #222;
        cursor: pointer;
        user-select: none;
        text-align: left;
    }
    &__icon {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 32px;
        & svg {
            fill: rgba(0,0,0,.4);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 20px;
            height: 20px;
        }
    }
}

.image__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    height: 32px;
    width: 32px;
    display: block;
    margin: 0;
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    cursor:pointer;
    &:hover {
        transition: all 0.2s ease;
        transform: scale(1.2);
    }
}

